@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional global styles */
body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    /* Add styles for your header if needed */
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}
